<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body>
    <h1>
        用户登录
    </h1>
    <form method="post" action="/login/">
        用户名：<input type="text" name="username"><br><br>
        密码：<input type="password" name="pwd"><br><br>
        {{ msg }}<br><br>
        <input type="submit" value="登录">
        <p>
            <a href="/update">修改密码</a>
        </p>
    </form>


</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>系统登录</title>
    <link rel="stylesheet" href="/static/login/login.css">
</head>
<body>
    <div id="h1-box">
        <h1>
            商洛学院学生学籍信息查询 
        </h1>
    </div>
    <div id="login-box">
        <h1>Login</h1>
        <form method="post" action="/login/">
        <div class="form">
            <div class="item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Username" name="Username">
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="Password"><br/>
                <font color="#FF0000">{{ msg }}</font>
            </div>
        </div>

        <dev>
            <button type="submit" >Login</button>
        </dev>
            <dev>
                <br/><a href="/update" >修改密码</a>
            </dev>
        </form>
    </div>
</body>
</html>