<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学籍信息</title>
    <link rel="stylesheet" href="/static/common.css">
</head>
<body bgcolor="lightblue" >
    <h1 align="center" >
        学生个人学籍信息展示
    </h1>
    <div id="table-a">
        <table class="gridtable" align="center">
            <tbody>
                <tr>
                   <th>学号</th><th>姓名</th><th>性别</th><th>身份证号</th>
                   <th>住址</th><th>入学时间</th><th>所在班级</th><th>备注</th>
                </tr>
                {% for student in student_list %}
                    <tr>
                        <td>{{ student.student_id}}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.sex }}</td>
                        <td>{{ student.id_card }}</td>
                        <td>{{ student.address }}</td>
                        <td>{{ student.enter_date }}</td>
                        <td>{{ student.class_name.class_name }}</td>
                        <td>{{ student.remarks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>